@model IEnumerable<Car>
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        @foreach(var car in Model)
        {
        <div class="col-4">
            <img src="@car.Img1" class="img-thumbnail" />
            <h3>Модель: @car.Name</h3>
            <h4>Цена: @car.Price.ToString("c")</h4>
            <div>
                <a asp-action="AddItem" asp-controller="Cart" asp-route-id="@car.Id" class="btn btn-warning btn-sm">Добавить в корзину</a>
                <a asp-action="OneCar" asp-controller="Home" asp-route-id="@car.Id" class="btn btn-warning btn-sm">Подробности</a>
            </div>
        </div>
        }
    </div>
</div>

